[submodule "src/packages/flatpak/shared-modules"]
	path = src/packages/flatpak/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "extern/equicord"]
	path = extern/equicord
	url = https://github.com/Equicord/Equicord
